@font-face {
  font-family: 'PyRegular';
  src: url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PyFuerte';
  src: url('./fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PyIta';
  src: url('./fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PyMedium';
  src: url('./fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menuLateral .burger span {
  display: block;
  /*background-color: #27272e;*/
  background-color: #fff;
  width: 2rem;
  height: 0.2vw;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.logoLateral {
  background-image: url(../public/img/Navbar/logoNuevo.png);
  background-size: cover;
  margin-left: 1.5vw;
  width: 9vw;
  height: 6vw;
}

.menuLateralActive {
  background-color: #000 !important;
  transition: background-color 0.5s;
}

.menuLateralActive .linkDecor {
  color: #fff;
  border-bottom-color: #93e54c;
}

.menuLateralActive .textoRotar:hover {
  cursor: pointer;
}

.linkDecor {
  font-weight: bold;
  display: block;
  /*color: #27272e;*/
  color: #000;
  font-size: 1.5rem;
  line-height: 160%;
  text-decoration: none;
  border-bottom-color: #93e54c;
  border-bottom-style: solid;
  border-bottom-width: 0.2vw;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}


.menuLateralActive .burger span {
  background-color: #fff;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

/*Rotación*/
.menuLateralActive .burger span:nth-child(2) {
  -webkit-transform: rotate(-45deg)translateX(0.1vw);
  transform: rotate(-45deg)translateX(0.1vw);
}


.menuLateralActive .burger span:nth-child(1) {
  margin-bottom: 0 !important;
  -webkit-transform: rotate(45deg)translateX(0.1vw);
  transform: rotate(45deg)translateX(0.1vw);
}

.menuLateral .burger span:first-child {
  margin-bottom: 0.7vw;
}

.menuLateral p{
  color: #fff;
  font-family: 'PyRegular', sans-serif;
  margin-right: 3vw;
}

.menuLateral a{
  text-decoration: none;
}

.menuLateral p:hover{
  font-family: 'PyRegular', sans-serif;
  margin-right: 3vw;
}

.menuLateral .burger {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

.mainMenu {
  height: 100vh;
  width: 100vw;
  background-color: #25272c;
  opacity: 0;
  z-index: -1;
  position: fixed;
  transition: opacity 0.5s;
  color: #fff;
}

.linkBox {
  margin: 5vw 5vw 0 20vw;
  font-size: 3.5vw;
  font-weight: 700;
}

.mainMenu .linkBox a {
  text-decoration: none;
  color: #FFF;
  display: inline-block;
}

.linkBox a.active {
  color: #93e54c !important;
  border-bottom-color: #93e54c;
  border-bottom-style: solid;
  border-bottom-width: 0.3vw;
}

.linkBox .link a:hover {
  color: #93e54c;
  border-bottom-color: #93e54c;
  border-bottom-style: solid;
  border-bottom-width: 0.3vw;

  cursor: pointer;
}
.mainMenuActive {
  opacity: 1;
  z-index: 20;
  transition: opacity 0.5s;
}
.menuLateralActive .logoLateral {
  background-image: url(../public/img/Navbar/logoNuevo.png);
  margin-left: 1.5vw;
  width: 9vw;
  height: 6vw;
}
.menuLateral {
  border-top: 1px solid #000;
  background-image: linear-gradient(to right,#051c2c ,#04143a);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 0 1.5rem;
  transition: background-color 0.5s;
  justify-content: flex-start;
  align-items: center;
}

.contenedorLinks{
  display: flex;
  padding-left: 64vw;
}

.entrada{
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select.entrada {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 95%;
}

.container {
  display: flex; 
 
  height: 75vh;
  padding-top: 5vw;
}


.column1 {
  width: 50%
}
.column1 img{
  width: 100%;
  height: 100%;
}

.column2 {
  width: 50%
}
.column2 img{
  width: 100%;
  height: 100%;
}

/* .column2 .textoPrincipal {
  font-family: sans-serif;
  font-style: italic;
  color: #134c9a;
  font-size: 3.7rem;
} */
.iniciotitulo{
  font-family: 'PyIta', sans-serif;
  font-size: 2rem;
}
.inicioEnlace{
  font-family: roboto;
  font-weight: bold;
}

.inicioEnlace2{
  font-family: roboto;
  font-weight: bold;
  color: #426aff;
}
.contenedorEnlace{
  display: flex;
}
.inicioDescripcion{
  font-family: 'PyMedium', sans-serif;
  font-size: 1.1rem;
  width: 42vw;
}

.contenedor2 {
  background-image: linear-gradient(to right,#051c2c ,#04143a);
  height: 15vh;
  display: flex;
}

/* Estilo de cada parte */
.parte {
  display: flex;
  flex: 1;
  padding: 1vw 5vw 0vw 0vw;
  text-align: center;
  color: #fff;
}

.parteMenos {
  display: flex;
  flex: 1;
  padding: 2vw 2vw 0vw 2vw;
  text-align: center;
  color: #fff;
}

/* Estilo de los números */
.numero {
  padding-right: 0.5vw;
  font-size: 48px;
  font-weight: bold;
  color: #00a9f4;
}

/* Estilo de la línea vertical */
.linea {
  width: 2px;
  height: 80px;
  background-color: #00a9f4;
  margin: 0 auto;
}

/* Estilo de la descripción */
.descripcion {
  padding-left: 0.5vw;
  font-size: 1rem;
}

.descripcionInicio {
  font-family: Roboto;
  font-weight: bold;
}

.bloque-container {
  display: flex;
  flex-direction: column;
  gap: 0rem; /* Espacio entre filas */
}

.espacio{
  margin: 0 10%;
}

.fila {
  display: flex;
}

.columna {
  flex: 1; /* Ocupar el espacio disponible en la columna */
}

.columna.formFondo {
  background-image: url(../public/img/Bloques/Necesidad.jpg);
  background-size: cover;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

/* Ajusta el tamaño de la imagen al ancho de la columna */
.columna img {
  width: 100%;
  height: 100%;
}



.columna.color1{
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.columna.color2{
  background-image: linear-gradient(to bottom right, #1c215a, #1c4c99);
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.columna.color2 p{
  color: #fff;
  
}

.columna.color3{
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  justify-content: center !important;
}


.tituloColumna{
  font-size: 2.5rem;
  font-weight: bold;
}

.linkColumna{
  font-weight: bold;
}

form h2{
  color: #00a9f4
}
.formulario {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  /* Puedes ajustar el ancho del formulario según tus necesidades */
  margin: 0 auto;
  /* Centra el formulario horizontalmente */
}

.etiqueta {
  font-family: 'BarlowBold', sans-serif;
  display: flex;
  flex-direction: column;
  /* Muestra las etiquetas y los inputs en columnas */
  margin-bottom: 10px;
  /* Espacio entre las etiquetas y los inputs */
}

.contenedorFilasFormulario{
  display: flex;
  width: 100%;
}
.formDerecha{
  width: 50%;
}
.formizquierda{
  width: 50%;
}

.botonContenedor{
  display: flex;
}

.botonEnviar {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  background-color: #042762;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'BarlowBold', sans-serif;
  font-size: 1.3rem;
}

.botonEnviar:hover {
  background-color: #003b71;
}

button[type="submit"] {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  background-color: #042762;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'BarlowBold', sans-serif;
  font-size: 1.3rem;
}

button[type="submit"]:hover {
  background-color: #003b71;
}

.site-footer
{
  background-image: linear-gradient(to right, #04143a, #010b22);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.containerfooter {
  /* width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; */

  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.containerfooter img{
  
  width: 20vw;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-md-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-md-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-md-8 {
  flex-basis: 66.666667%;
  max-width: 66.666667%;
}

.col-sm-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-md-4 {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
}
.text-justify{
  text-align: justify;
  padding-right: 2vw;
}

.navbar-submenu {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 10vw;
  padding: 10px;
  background-color: #010d15;
  border-radius: 10px 10px 10px 10px;
  border-top: 3px solid #2150fb;
  top: calc(63% + 8px);
}

.navbar-submenu.uno {
  left: calc(73% + 0px);
}
.navbar-submenu.dos {
  left: calc(79% + 5px);
}
.navbar-submenu.tres {
  left: calc(85% + 7px);
}


.navbar-submenu link:hover{
  color: #00a9f4
}

.menuLateral a:hover .navbar-submenu {
  display: block;
}

.navbar-submenu a {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navbar-submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #2150fb;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/*flecha*/

.the-arrow {
  width: 64px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #999;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #999;
}
.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
  right: -23px;
}
.the-arrow.-right > .shaft {
  width: 64px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #000;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #000;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #000;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.animated-arrow.dos{
  color: #fff !important;
}
.animated-arrow:hover {
  color: #4366ff;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #4366ff;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #4366ff;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}


/*Flechas fondo color*/
.the-arrowDos {
  width: 64px;
  transition: all 0.2s;
}
.the-arrowDos.-leftDos {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrowDos.-leftDos > .shaftDos {
  width: 0;
  background-color: #fff;
}
.the-arrowDos.-leftDos > .shaftDos:before, .the-arrowDos.-leftDos > .shaftDos:after {
  width: 0;
  background-color: #fff;
}
.the-arrowDos.-leftDos > .shaftDos:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrowDos.-lefDost > .shaftDos:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrowDos.-rightDos {
  top: 3px;
  right: -23px;
}
.the-arrowDos.-rightDos > .shaftDos {
  width: 64px;
  transition-delay: 0.2s;
}
.the-arrowDos.-rightDos > .shaftDos:before, .the-arrowDos.-rightDos > .shaftDos:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrowDos.-rightDos > .shaftDos:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.the-arrowDos.-rightDos > .shaftDos:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.the-arrowDos > .shaftDos {
  background-color: #fff;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrowDos > .shaftDos:before, .the-arrowDos > .shaftDos:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrowDos > .shaftDos:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.the-arrowDos > .shaftDos:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrowDos {
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrowDos:hover {
  color: #f19341;
}
.animated-arrowDos:hover > .the-arrowDos.-leftDos > .shaftDos {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #f19341;
}
.animated-arrowDos:hover > .the-arrowDos.-leftDos > .shaftDos:before, .animated-arrowDos:hover > .the-arrowDos.-leftDos > .shaftDos:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #f19341;
}
.animated-arrowDos:hover > .the-arrowDos.-leftDos > .shaftDos:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.animated-arrowDos:hover > .the-arrowDos.-leftDos > .shaftDos:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.animated-arrowDos:hover > .mainDos {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
.animated-arrowDos:hover > .mainDos > .the-arrowDos.-rightDos > .shaftDos {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrowDos:hover > .mainDos > .the-arrowDos.-rightDos > .shaftDos:before, .animated-arrowDos:hover > .mainDos > .the-arrowDos.-rightDos > .shaftDos:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrowDos:hover > .mainDos > .the-arrowDos.-rightDos > .shaftDos:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrowDos:hover > .mainDos > .the-arrowDos.-rightDos > .shaftDos:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrowDos > .mainDos {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrowDos > .mainDos > .textDos {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrowDos > .mainDos > .the-arrowDos {
  position: relative;
}
/*Fin*/

.blogTituloContenedor{
  display: flex;
  justify-content: center;
  background-color: #1c3b80;
}

.blogTitulo {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #00a9f4, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*Blog contenedor*/
.blogconten-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnBlog {
  flex: 1;
}

.image-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35vw;
}

.video-container{
  width: 100%;
  background-color: #041235;
}

.video-container video{
  width: 100%;
}

.imageBlog {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.espacioFormu{
  margin-top: 9%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.textBlog {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
/* .image-container:hover .imageBlog {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .textBlog {
  color: #fff;
} */

/**/